/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */

/* body{
    color:#41644A;
}
.container{
    max-width: 60rem;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.links{
    width: 20rem;
    display: flex;
    justify-content: space-evenly;
}
.links a{
   text-decoration: none;
   color: black;
}
.form-component{
    display: flex;
    justify-content: center;
}
.form-box{
    display: flex;
} */
